@media screen and (max-width: 900px) {
  .about-author {
    padding: 40px 40px 60px;
  }

  .about-author__content {
    padding: 0 0 0 33px;
  }

  .about-author__title {
    font-size: 1.93rem;
    margin-bottom: 16px;
  }

  .about-author__img {
    max-width: 232px;
  }
}

@media screen and (max-width: 650px) {
  .about-author-author {
    padding: 33px 15px 79px;
  }

  .about-author__container {
    flex-direction: column;
  }

  .about-author__img {
    max-width: 272px;
  }

  .about-author__img-wrapper {
    margin-bottom: 24px;
  }

  .about-author__content {
    padding-left: 0;
  }
}
